<!DOCTYPE html>
<html>
  <a href="/">お品書きに戻る</a>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><a href="/addmenu">新規登録</a></h2>
    <table>
    <% for(let i in menus){ %> 
      <tr class="db_tr">
        <% let menu = menus[i] %>
        <th class="db_th"><a href="/edit?id=<%=menu.id %>">編集</a></th>
        <td class="db_td"><%= menu.name %></td>
        <td class="db_td"><%= menu.price %>円(税込)</td>
        <td class="db_td"><%= menu.info %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>