<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <tr>
        <th><%= menu.name %></th>
        <td><%= menu.price %>円(税込)</td>
        <td><%= menu.info %></td>
      </tr>
    </table>
  </body>
</html>